! These might also be useful depending on your monitor and personal preference:
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

*.cursorColor:  #e0f2ec
Xcursor.size: 32

XTerm.vt100.faceName: monospace:size=16:antialias=false
XTerm.vt100.scaleHeight: 1.2

#include ".Xresources.d/colors"
